<!DOCTYPE html>
<html lang="en">
​

<head>
  <title> WFSE</title>
  <!--Import Google Icon Font-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="stylesheet" type="text/css" href="../style/style.css">
  <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  ​
</head>
​

<body>
  <div id="header">
    <br>
    <img src="../html/logos/logo.png" alt="logo" id="logo">
    <h1>
      <i class="fas fa-basketball-ball"></i> <i class="fas fa-football-ball"></i> World Famous Sports Encyclopedia <i class="fas fa-hockey-puck"></i> <i class="fas fa-baseball-ball"></i>
    </h1>
    <br>
  </div>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo" id="navLogo">WFSE</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/smack">Smack Talk</a></li>
        <li><a href="/api/add">Add some Smack</a></li>
      </ul>
    </div>
  </nav>

  {{{body}}}
</body>

</html>