<!DOCTYPE html>
<html lang="en">

<head>
    <title> WFSE</title>
    <!--Import Google Icon Font-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../style/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
  <header class="inner">
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/smack">Smack Talk</a>
        </li>
        <li>
          <a href="/api/add">Add some Smack Talk</a>
        </li>   
      </ul>
    </nav>
  </header>

  <div class="container">
    {{{body}}}
  </div>
</body>

</html>