body,
html {
    height: 100vh;
}

h1, h2 {
    text-align:center
}

#logo {
    height: 300px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

​ #narrow {
    height: 100vh;
    float: left;
    width: 20%;
    background: navy;
}

#wide {
    height: 100vh;
    float: left;
    width: 80%;
    background: lightgrey;
}

​#NFL {
    height: 100vh;
    float: left;
    width: 25%;
    background: lightgrey;
}

​#nflLogo {
    height: 200px;
    justify-content: center;
}


​#nhlLogo {
    height: 200px;
    justify-content: center;
}

​#NHL {
    height: 100vh;
    float: left;
    width: 25%;
    background: lightgrey;
}

​ #NBA {
    height: 100vh;
    float: left;
    width: 25%;
    background: lightgrey;
}

​#nbaLogo {
    height: 200px;
    justify-content: center;
}

​ #MLB {
    height: 100vh;
    float: left;
    width: 25%;
    background: lightgrey;
}


​#mlbLogo {
    height: 200px;
    justify-content: center;
}

​#favTeam {
    color: white
}


.browser-default {
    justify-content: center;
}