body,
html {
    background-color: lightgrey;
}

#logo {
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#narrow {
    height: 100vh;
    float: left;
    width: 20%;
    background: #097100;
    display: block;
}

#wide {
    background-size: 100%;
    float: right;
    width: 79%;
    background: lightgrey;
    margin-bottom: 50px;
}

#NFL {
    height: 100%;
    float: left;
    width: 25%;
    background: lightgrey;
}

#nflLogo {
    height: 200px;
    align-content: center;
}

#nhlLogo {
    height: 200px;
}

#NHL {
    height: 100%;
    float: left;
    width: 25%;
    background: lightgrey;
}

#NBA {
    height: 100%;
    float: left;
    width: 25%;
    background: lightgrey;
}

#nbaLogo {
    height: 200px;
}

#MLB {
    height: 100%;
    float: left;
    width: 25%;
    background: lightgrey;
}

#mlbLogo {
    height: 200px;
    text-align: center;
}

#todaysEvents {
    color: white;
    overflow: scroll;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#info {
    margin: 30px, 30px;
}

#roster {
    height: 100%;
    margin: auto;
    float: left;
    width: 24%;
    background: white;
    border: 5px solid #097100;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

#schedule {
    height: 100%;
    float: left;
    width: 24%;
    background: white;
    border: 5px solid #097100;
    border-radius: 30px;
}

#standings {
    height: 100%;
    float: left;
    width: 24%;
    background: white;
    border: 5px solid #097100;
    border-radius: 30px;
}

#spacing {
    float: left;
    padding: 10px;
}

#header {
    background-image: url("../html/logos/background.png");
    background-size: cover;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#mlbBtn {
    background-color: #097100;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nhlBtn {
    background-color: #097100;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nflBtn {
    background-color: #097100;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#nbaBtn {
    background-color: #097100;
    width: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}