.list-group-item {
    line-height: 2.5;
  }
  
  body,html {
    height: 100vh;
  }
  #logo {
  height: 300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  #narrow {
    height: 100vh;
    float: left ;
    width: 25%;
    background: lightgrey;
  }
  #wide {
    height: 100vh;
    float: left;
    width: 75%;
    background: lightblue;
  }
  
  #bar {
    height: 200px;
    background: purple;
  }