<section id="gigs" class="container">
    <h1 id="allSmacks">All Smacks</h1>

    {{#each smacks}}
      <div class="gig" id="smacksDiv">
      <h3 id="teamSmack">{{team}}</h3>
      <p>{{smack}}</p>
    {{else}}
      <h2>No smacks available</h2>
    {{/each}}
    
  </section>