<section id="gigs" class="container">
    <h1>All Smacks</h1>

    {{#each smacks}}
      <div class="gig">
      <h3>{{team}}</h3>
      <p>{{smack}}</p>
    {{else}}
      <p>No smacks available</p>
    {{/each}}
    
  </section>